#my-first-div {
	font-size: 15px;
}
#the-second-one {
	font-size: 25px;
}

/* YOUR CODE BELOW THIS LINE */
#my-first-div #my-second-div h2 {
	font-size: 0.8em;
}
#my-first-div #my-second-div h3 {
	font-size: 0.8rem;
}